<div class="booyah-box col-10 offset-1 text-center">
<h1> Get A Quote!</h1>
</div>

<% @quote.each do |quote| %>
    <div class="booyah-box col-10  offset-1">
<b> Name: </b>
<%= quote.name %><br  /> 
<b> Destination: </b>
<%= quote.destination  %><br /><br />
<b> Cargo description: </b>
<p><%= quote.description %></p><br />
<%= image_tag quote.image.url, class: 'img-fluid' %>



    </div>
<% end %>
