<div class="col=10 offset=1 text-center destination">
    <h1>About Us</h1>

  
    <%= video_tag "MY_VIDEO.mp4", :size=> "220X140", :controls => true %>

    <i> Video was retrieved from Youtube </i>
</div>


