<div class="col=10 offset=1 text-center">
    <h1>Star Shipping</h1>


    <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" autoplay>
    copy relative path

      <noscript>
       <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
           <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </noscript>

      <source src="MY_VIDEO.mpg" type='video/mpg'>
    </video>

    <%= video_tag "/assets/MY_VIDEO.mp4", :size=> "320 X 240", :controls => true %>
</div>


