<div class="text-center destination">
    <h1>Destinations</h1>
    <i>Click on destination for more information.</i>
</div>

<% @newdestinations.each do |destination| %>
    <div class="booyah-box col-10  offset-1 text-center ">     
      <div class="link">  
      <h4><%= link_to destination.destination, employee_destination_path(destination)  %></h4><br/>
     
      </div>
    </div>
<% end %>