<div class="booyah-box col-10 offset-1">
    <h1>Destinations</h1>
</div>

<div class="booyah-box col-10 offset-1">
<% @newdestinations.each do |destination| %>
    <h4> Destination: </h4>
   <%= destination.destination %><br />
    <b>Departure date:</b><br />
    <%= destination.departure_date  %>
    <b>Arrival date:</b><br />
    arrival date 
    <b>Vessel name:</b><br />
    vessel name 
</div>
<% end %>